.comment-list span.rateme_btn:hover{
	cursor: pointer
}
.comment-list span.rateme_btn:before {
	font-family: dashicons;
	content: "\f346";
	color: #f15123;
	display: inline-block;
	font: normal 20px;
	vertical-align: top;
	}
	.comment-list span.rateme_btn.pos:before {
	content: "\f342";
	color: #00B508 !important;
	}
/*.comment-list span.rateme_btn.pos{
	color: #00B508 !important;
}*/
.comment-list span.rate.green{
	
	padding: 0 3px;
}
.comment-list span.rate.red{
	
	padding: 0 3px;
}
.comment-list span.rateme_btn,
.comment-list span .dontrateme {
	font: 16px;
	display: inline-block;
	min-width: 15px;
	text-align: center;
}
.comment-list span.rerror{
	color: #d2691e;
	padding: 5px;
	font-size: 12px;
}
.favoritebtn:hover,.cat_fav_btn:hover{
	cursor: pointer;
}
.favoritebtn:before,.cat_fav_btn:before{
	font-family: dashicons;
	content: "\f487";
	color: #CFCDCD;
	display: inline-block;
	font: normal 20px;
	vertical-align: top;
}
.favoritebtn.fav:before,.cat_fav_btn.fav:before{
	color: #f15123;
}